html {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: normal;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Verdana, sans-serif;
    font-weight: 400;
    line-height: 1;
    margin: 20px 0;
  }
  
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight: inherit;}
  h1 {font-size: 36px}
  h2 {font-size: 30px}
  h3 {font-size: 24px}
  h4 {font-size: 20px}
  h5 {font-size: 18px}
  h6 {font-size: 16px}
  
  hr {
    height: 0;
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
  }

  .chart{
      height: 200px;
      border: 3px solid lightsteelblue;
      border-radius: 10px;
  }