body{
    background-image: url("https://www.thoughtco.com/thmb/gMyO_KVv02CLSLwQQ1zk7oa5VZw=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/flames-82087438-59ff1d2bb39d030019906514.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron{
    background-color: transparent;
}

.chart_container{
    border:1px solid lightcoral;
    border-radius: 10px;
    max-height: 300px;
    width: 100%;
}

.container{
    border-radius: 10px;
    background-color: white;
    padding: 20px;   
}
