<!DOCTYPE html>
<html>
<head>
    <title>RaspChart Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <!-- COPIED -->
    <!-- COPIED -->
    <!-- COPIED -->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" href="{{ url_for('static', filename='js/application.js') }}"></script>
    <script type="text/javascript" href="{{ url_for('static', filename='js/radradialprogress.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- COPIED END-->
    <!-- COPIED END-->
    <!-- COPIED END-->
</head>
<body>
<div class="container" id="content">
    <div class="jumbotron">
        <h1>RaspberryCharts</h1>
        <p>Listataan 100 viimeisintä lämpötilaa</p>
    </div>
    
        <div class="row">
            <p>Asynchronous page updates will appear here:</p>
            <h3>Number list:</h3>

            <canvas id="myChart"></canvas>
            <div id="log"></div>
        </div>
    </div>
</div>
<!--    #######     -->
<!--    SCRIPTS     -->
<!--    #######     -->
<script>

    var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
    var numbers_received = []; 
    var idNumbers = [];
    var num = 0;
    
    var border_colors = [];
    var background_colors = [];

    var cold_color = 'rgba(255, 99, 132, 0.2)'; //sininen väri
    var fire_color = 'rgba(66, 134, 240, 0.2)'; //punainen väri

    $(document).ready(function(){    
        //receive details from server
        socket.on('newnumber', function(msg) {
            console.log("Received number" + msg.number);
            //maintain a list of ten numbers
            if (numbers_received.length >= 5){
                numbers_received.shift();
                idNumbers.shift();
            }

            if (msg.number <= 4){
                background_colors.push(fire_color);
            }else{
                background_colors.push(cold_color);
            }

            numbers_received.push(msg.number);
            numbers_string = '';
            num = num +1;
            idNumbers.push(num);
            console.log(numbers_received);
            for (var i = 0; i < numbers_received.length; i++){
                numbers_string = numbers_string + '<p>' + numbers_received[i].toString() + '</p>';     
            }
            //      #########################
            //      #########################
            //      MY CHART ----->>>>>>
            //      #########################
            //      #########################
            
              /*
          
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: numbers_received,
                options: {
                    elements: {
                        line: {
                            tension: 0, // disables bezier curves
                        }
                    }
                }
            });
            */
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: idNumbers,
                    datasets: [{
                        label: '# of Votes',
                        data: numbers_received, //      Chart Data 
                        backgroundColor: background_colors,
                        borderColor: border_colors,
                        /*backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],*/
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

            //$('#log').html(numbers_string);
        });
        showTooltips: false
    });

    
</script>
</body>
</html>